/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'ngx-toastr/toastr';


:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
